.hotTopics{
    display: flex;
    justify-content: center;
}

.h1News{
    color: #750550;
    text-align: center;
}

.heading{
    background-color: white;
    margin: 0;
    padding-bottom: 8px;
}

.trending{
    display: flex;
    justify-content: center;
}